.am-navbar {
  background: #108ee9;
  .am-navbar-left,.am-navbar-title{
    color: #fff;
  }
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    width: 70%;
    -webkit-overflow-scrolling: touch;
    .am-list {
      width: 100%;
      padding: 0;
    }
    .am-list-content{
      letter-spacing: 12px;
      padding-left: 20px;
    }
  }
}
